html, body{
  margin: 0;
}
.box-wrapper{
  float: left;
  width: 33%;
  .box-test{
    -webkit-animation: box-animation 5s infinite; /*safari 4+*/
    -moz-animation: box-animation 5s infinite; /*fx 5+ */
    -o-animation: box-animation 5s infinite; /*fx 5+ */
    animation: box-animation 5s infinite; /* IE 10+, Fx 29+ */
    margin: 1% 0 0 20px;

    p{
      color: #042037;
      -webkit-animation: box-text-animation 5s infinite; /*safari 4+*/
      -moz-animation: box-text-animation 5s infinite; /*fx 5+ */
      -o-animation: box-text-animation 5s infinite; /*fx 5+ */
      animation: box-text-animation 5s infinite; /* IE 10+, Fx 29+ */
      margin-top: 50%;
      position: relative;
      text-align: center;
      top: 40%;
    }
  }
  .monitor{
    background-image: url("../img/monitor.svg");
    background-size: cover;
    height: 300px;
    position: relative;
    width: 300px;

    .monitor-text{
      -webkit-animation: monitor-text 1s 1;
      -moz-animation: monitor-text 1s 1;
      -o-animation: monitor-text 1s 1;
      animation: monitor-text 1s 1;
      background-image: url("../img/text.svg");
      background-size: cover;
      height: 55px;
      left: 120px;
      position: absolute;
      top: 46px;
      width: 55px;
    }
  }
  .monitor-dup{
    background-image: url("../img/monitor.svg");
    background-size: cover;
    height: 300px;
    position: relative;
    width: 300px;

    .monitor-text-dup{
      -webkit-animation: monitor-text-dup linear 1.5s infinite;
      -moz-animation: monitor-text-dup linear 1.5s infinite;
      -o-animation: monitor-text-dup linear 1.5s infinite;
      animation: monitor-text-dup linear 1.5s infinite;
      background-image: url("../img/text.svg");
      background-size: cover;
      height: 55px;
      left: 120px;
      position: absolute;
      top: 46px;
      width: 55px;
    }
  }
}
