html, body {
  margin: 0; }

.box-wrapper {
  float: left;
  width: 33%; }
  .box-wrapper .box-test {
    -webkit-animation: box-animation 5s infinite;
    /*safari 4+*/
    -moz-animation: box-animation 5s infinite;
    /*fx 5+ */
    -o-animation: box-animation 5s infinite;
    /*fx 5+ */
    animation: box-animation 5s infinite;
    /* IE 10+, Fx 29+ */
    margin: 1% 0 0 20px; }
    .box-wrapper .box-test p {
      color: #042037;
      -webkit-animation: box-text-animation 5s infinite;
      /*safari 4+*/
      -moz-animation: box-text-animation 5s infinite;
      /*fx 5+ */
      -o-animation: box-text-animation 5s infinite;
      /*fx 5+ */
      animation: box-text-animation 5s infinite;
      /* IE 10+, Fx 29+ */
      margin-top: 50%;
      position: relative;
      text-align: center;
      top: 40%; }
  .box-wrapper .monitor {
    background-image: url("../img/monitor.svg");
    background-size: cover;
    height: 300px;
    position: relative;
    width: 300px; }
    .box-wrapper .monitor .monitor-text {
      -webkit-animation: monitor-text 1s 1;
      -moz-animation: monitor-text 1s 1;
      -o-animation: monitor-text 1s 1;
      animation: monitor-text 1s 1;
      background-image: url("../img/text.svg");
      background-size: cover;
      height: 55px;
      left: 120px;
      position: absolute;
      top: 46px;
      width: 55px; }
  .box-wrapper .monitor-dup {
    background-image: url("../img/monitor.svg");
    background-size: cover;
    height: 300px;
    position: relative;
    width: 300px; }
    .box-wrapper .monitor-dup .monitor-text-dup {
      -webkit-animation: monitor-text-dup linear 1.5s infinite;
      -moz-animation: monitor-text-dup linear 1.5s infinite;
      -o-animation: monitor-text-dup linear 1.5s infinite;
      animation: monitor-text-dup linear 1.5s infinite;
      background-image: url("../img/text.svg");
      background-size: cover;
      height: 55px;
      left: 120px;
      position: absolute;
      top: 46px;
      width: 55px; }

/*# sourceMappingURL=app.css.map */
