/********************************************************
Keyframe for box
*********************************************************/
@-webkit-keyframes box-animation{
  0%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
  50%{
    height: 200px;
    background-color: rgba(73, 109, 137, 1);
    width: 200px;
  }
  100%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
}
@-moz-keyframes box-animation{
  0%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
  50%{
    height: 200px;
    background-color: rgba(73, 109, 137, 1);
    width: 200px;
  }
  100%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
}
@-o-keyframes box-animation{
  0%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
  50%{
    height: 200px;
    background-color: rgba(73, 109, 137, 1);
    width: 200px;
  }
  100%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
}
@keyframes box-animation{
  0%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
  50%{
    height: 200px;
    background-color: rgba(73, 109, 137, 1);
    width: 200px;
  }
  100%{
    background-color: rgba(73, 109, 137, 1);
    height: 50px;
    width: 50px;
  }
}
/********************************************************
Keyframe for box-text
*********************************************************/
@-webkit-keyframes box-text-animation{
  0%{
    font-size: 0;
    opacity: 0
  }
  50%{
    font-size: 20px;
    opacity: 1;
  }
  100%{
    font-size: 0;
    opacity: 0;
  }
}
@-moz-keyframes box-text-animation{
  0%{
    font-size: 0;
    opacity: 0
  }
  50%{
    font-size: 20px;
    opacity: 1;
  }
  100%{
    font-size: 0;
    opacity: 0;
  }
}
@-o-keyframes box-text-animation{
  0%{
    font-size: 0;
    opacity: 0
  }
  50%{
    font-size: 20px;
    opacity: 1;
  }
  100%{
    font-size: 0;
    opacity: 0;
  }
}
@keyframes box-text-animation{
  0%{
    font-size: 0;
    opacity: 0
  }
  50%{
    font-size: 20px;
    opacity: 1;
  }
  100%{
    font-size: 0;
    opacity: 0;
  }
}

/********************************************************
Keyframe for monitor-text
*********************************************************/
@-webkit-keyframes monitor-text{
  0%{
    left: 22px;
  }
  100%{
    left: 120px;
  }
}
@-moz-keyframes monitor-text{
  0%{
    left: 22px;
  }
  100%{
    left: 120px;
  }
}
@-o-keyframes monitor-text{
  0%{
    left: 22px;
  }
  100%{
    left: 120px;
  }
}
@keyframes monitor-text{
  0%{
    left: 22px;
  }
  100%{
    left: 120px;
  }
}
/********************************************************
Keyframe for monitor-text-dup
*********************************************************/
@-webkit-keyframes monitor-text-dup{
  0%{
    left: 22px;
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: 220px;
    opacity: 0.5;
  }
}
@-moz-keyframes monitor-text-dup{
  0%{
    left: 22px;
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: 220px;
    opacity: 0.5;
  }
}
@-o-keyframes monitor-text-dup{
  0%{
    left: 22px;
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: 220px;
    opacity: 0.5;
  }
}
@keyframes monitor-text-dup{
  0%{
    left: 22px;
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    left: 220px;
    opacity: 0.5;
  }
}
